{% block content %}
    <h1>Add Note</h1>
    <br>
    {# <form action="{% url 'notes:create-note' %}" method="post"> #}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add note">
        <input type="reset" value="Clear">
    </form>
{% endblock %}
