<h2>
{{ note.title }}
</h2>

<h5>
{{ note.update_date }}
</h5>

<p>
{{ note.content }}
</p>

<a href="{% url 'notes:edit' note.id %}">Edit</a>
<br>
<a href="{% url 'notes:delete' note.id %}">Delete</a>
<br><br>
<a href="{% url 'notes:home' %}">Back to notes list</a>
